<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   sudoku_grid_in_rows.plist
   Sudoku

   Created by Wael Showair on 2016-02-17.
   Copyright (c) 2016 Algonquin College. All rights reserved.
-->
<plist version="1.0">
    <dict>
      <key>row_1</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
        <integer>3</integer>
        <integer>0</integer>
        <integer>2</integer>
        <integer>0</integer>
        <integer>6</integer>
        <integer>0</integer>
        <integer>0</integer>
      </array>
      <key>row_2
      </key>
      <array>
        <integer>9</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>3</integer>
        <integer>0</integer>
        <integer>5</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>1</integer>
      </array>
      <key>row_3</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
        <integer>1</integer>
        <integer>8</integer>
        <integer>0</integer>
        <integer>6</integer>
        <integer>4</integer>
        <integer>0</integer>
        <integer>0</integer>
      </array>
      <key>row_4</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
        <integer>8</integer>
        <integer>1</integer>
        <integer>0</integer>
        <integer>2</integer>
        <integer>9</integer>
        <integer>0</integer>
        <integer>0</integer>
      </array>
      <key>row_5</key>
      <array>
        <integer>7</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>8</integer>
      </array>
      <key>row_6</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
        <integer>6</integer>
        <integer>7</integer>
        <integer>0</integer>
        <integer>8</integer>
        <integer>2</integer>
        <integer>0</integer>
        <integer>0</integer>
      </array>
      <key>row_7</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
        <integer>2</integer>
        <integer>6</integer>
        <integer>0</integer>
        <integer>9</integer>
        <integer>5</integer>
        <integer>0</integer>
        <integer>0</integer>
      </array>
      <key>row_8</key>
      <array>
        <integer>8</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>2</integer>
        <integer>0</integer>
        <integer>3</integer>
        <integer>0</integer>
        <integer>0</integer>
        <integer>9</integer>
      </array>
      <key>row_9</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
        <integer>5</integer>
        <integer>0</integer>
        <integer>1</integer>
        <integer>0</integer>
        <integer>3</integer>
        <integer>0</integer>
        <integer>0</integer>
      </array>
    </dict>
</plist>
